.input-cal-container {
    display: flex;
    margin-left: 0;
}
.input-cal-container p {
    margin: 0;
}
.day-slots-container {
    display: inline-block; 
}
.hour-labels {
    margin: 2.5rem 1rem 0 2rem;
    text-align: right;
}
.hour-labels p {
    margin-bottom: 1.25rem;
}