@media (min-width: 1285px) {
  .container-fluid {
    max-width: 1280px;
  }
}
body {
  overflow-x: hidden;
}

.nav-bar {
  padding: 1.5rem;
}
.nav-bar .left img { 
  width: 2.75rem; 
  transition: all 0.3s; 
  cursor: pointer; 
} 
.nav-bar .left img:hover {
  opacity: 0.8;
}
.nav-bar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}
.nav-bar .right a {
  color: var(--kommablack) !important;
  font-weight: 700;
  transition: all 0.3s;
}
.nav-bar .right a:hover {
  color: var(--kommapurple) !important;
  text-decoration: none;
}